[Desktop Entry]
Name=2.WeChatSetup
Type=Application
Exec=lxterminal --command "wine /root/res/install/WeChatSetup-*.exe"
StartupNotify=true
Path=/root/res
Icon=E03C_WeChat.0
